@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

section {
  width: 100%;
  height: calc(100% - 70px);
}

section .header {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  position: relative;
  display: flex;
}

section .header .first-header {
  width: 33%;
  height: 100%;
  display: flex;
  margin-left: 2.5rem;
  margin-right: 1.5rem;
  justify-content: center;
  align-items: center;
}

section .header .second-header {
  width: 33%;
  height: 100%;
  display: flex;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  justify-content: center;
  align-items: center;
}

section .header .third-header {
  width: 33%;
  height: 100%;
  display: flex;
  margin-right: 2.5rem;
  margin-left: 1.5rem;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  height: auto;
  padding: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 18px;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 0.1rem;
  box-shadow: 5px 5px 5px #eeeeee;
  cursor: pointer;
}

.card span {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
}

.card .img {
  background-color: greenyellow;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

h2 {
  margin-top: 15px;
  font-family: 'Oswald', sans-serif;
  font-size: 2.8vw;
}

section .body {
  width: calc(100% - 5rem);
  height: auto;
  margin-top: 2rem;
  margin-left: 2.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .body .input input{
  width: 30vh;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #241D39;
  font-size: 20px;
  color: #F2F2F2;
  background: rgb(36, 29, 57);
  border-radius: 15px;
}

section .body .input input[type="submit"] {
  text-align: center;
  background: rgb(181, 230, 29);
  border: 1px solid  rgb(181, 230, 29);
  color: #110E1B;
  outline: none;
  font-weight: 800;
  cursor: pointer;
  margin-top: 7px;
}
