<section class="container" *ngIf="visibleOff()">
  <router-outlet></router-outlet>
</section>

<section class="dashboard" *ngIf="visibleOn()">
  <nav class="nav">
    <div class="start">
      <a href="" class="logo"><div class="master"></div></a>
      <ul class="menu">
        <li class="active"><a href="/Dashboard"><mat-icon class="bi ico-first"></mat-icon><span>Dashboard</span></a></li>
        <li><a href=""><mat-icon class="bi ico-second"></mat-icon><span>Usuario</span></a></li>
        <li><a href="/Register-Employee"><mat-icon class="bi ico-third"></mat-icon><span>Registro</span></a></li>
        <li><a href=""><mat-icon class="bi ico-fourth"></mat-icon><span>Reportes</span></a></li>
        <li><a href=""><mat-icon class="bi ico-fifth"></mat-icon><span>Ayuda</span></a></li>
        <li (click)="LogOut()"><a href="/LogIn"><mat-icon class="bi ico-sixth"></mat-icon><span>Salir</span></a></li>
      </ul>
    </div>
    <footer class="footer">
      <span>© Copyright - 2021</span>
    </footer>
  </nav>
  <main class="content">
    <header class="header">
      <div class="view">
        <div class="grid ico-grid"></div>
        <span>Dashboard</span>
      </div>
      <div class="profile">
        <span>{{username}}</span>
      </div>
    </header>
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </main>
</section>
