<section>
  <div class="img">
    <div class="navbar">
      <div class="logo"></div>
    </div>
    <img src="assets/images/background/main.jpg" alt="">
  </div>
  <diV class="content">
    <div class="form">
      <h2>Recuperar Contraseña</h2>
      <form [formGroup]="passwordForm" novalidate>
        <div class="error" *ngIf="passwordInvalid">
          <p>El usuario/correo no existe</p>
        </div>
        <div class="input">
          <span>Usuario/Correo</span>
          <input type="text" name="" formControlName="username">
        </div>
        <div class="input">
          <span>Nueva Contraseña</span>
          <input type="password" name="" formControlName="password">
        </div>
        <div class="double-input">
          <div class="left-input">
            <input type="submit" value="Cancelar" name="" (click)="back()">
          </div>
          <div class="right-input">
            <input type="submit" value="Enviar" name="" (click)="changePassword()">
          </div>
        </div>
      </form>
    </div>
  </diV>
</section>
